@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

body {
	background-color: hsl(0, 0%, 95%);
	width: 375px;
}

.container {
	background-color: hsla(0, 0%, 100%, 0.75);
	width: 300px;
	height: 1500px;
	margin: 50px auto;
}

.sedans {
	background-color: hsl(31, 77%, 52%);
	height: 500px;
	width: 300px;
}

.suvs {
	background-color: hsl(184, 100%, 22%);
	height: 500px;
	width: 300px;
}

.luxury {
	background-color: hsl(179, 100%, 13%);
	height: 500px;
	width: 300px;
}

img {
	padding-top: 50px;
	padding-left: 50px;
}

h1 {
	font-family: 'Big Shoulders Display', cursive;
	padding-top: 30px;
	padding-left: 50px;
	margin: 0;
}

p {
	padding-left: 50px;
	padding-top: 15px;
	padding-right: 50px;
	line-height: 30px;
}

h1, p {
	color: hsla(0, 0%, 100%, 0.75);
}

p, .learn {
	font-family: 'Lexend Deca', sans-serif;
	font-size: 15px;
}

.learn {
	background-color: hsl(0, 0%, 95%);
	padding: 10px 35px;
	text-decoration: none;
	border-radius: 50px;
	position: relative;
	margin-left: 50px;
	margin-top: 70px;
	display: inline-block;

}

.learn:hover {
	background-color: transparent;
	color: hsla(0, 0%, 100%, 0.75);
	border: 3px solid white;
	padding: 7px 32px;
}

.one {
	color: hsl(31, 77%, 52%);
}

.two {
	color: hsl(184, 100%, 22%);
}

.three {
	color: hsl(179, 100%, 13%);
}

.attribution {
	font-family: 'Lexend Deca', sans-serif;
	text-align: center;
}

.attribution a {
	text-decoration: none;
}
